.search-page{
    bottom: 0;
        position: relative;
        width: 100%;
        min-height: calc(100vh - 60px);
        background: url("../assets/Search hero.jpg") no-repeat center center ;
        background-size:cover;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 50px;
        color: white;
        overflow: hidden;
      }
.search-container{
    top:20%;
    position: absolute;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-container input{
    width: 50%;
    margin: 0 auto;
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
}