body {
  background: linear-gradient(to right, black, #2b0101);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}







/* Handle Danger  */
:root {
  --bs-danger: #d10000 !important; 
}

.btn-danger {
  background-color: #d10000 !important;
  border-color: #b30000 !important;
}

.btn-danger:hover {
  background-color: #b30000 !important;
  border-color: #900000 !important;
}







/* Section Title  */
.section-title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: relative;
  padding: 20px 0;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  letter-spacing: 3px;
}
.section-title::before,
.section-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 150px;
  height: 4px;
  background: linear-gradient(90deg, #ff0000, #444);
}
.section-title::before {
  left: -170px;
}
.section-title::after {
  right: -170px;
}









/* navbar */
.custom-navbar {
  background: linear-gradient(to right, black, #800000);
  padding: 7px 0;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-nav .nav-link {
  font-size: 16px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: red !important;
}

.login-btn {
  background: red;
  padding: 5px 15px;
  border-radius: 10px;
}

.login-btn:hover {
  background: darkred;
}









/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url("./assets/hero-bg.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 50px;
  color: white;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}
.hero-content h4 {
  font-size: 18px;
  color: #ddd;
}
.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}
.hero-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
}
.hero-buttons {
  margin-top: 20px;
}
.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10px;
}
.source-btn,.read-more-btn {
  background-color: #b30000;
  color: white;
}
.source-btn:hover,.read-more-btn:hover {
  background-color: #8c0000;
  box-shadow: 0px 4px 8px rgba(246, 245, 245, 0.2); 
}










/* most viewed */
.most-viewed{
  background-color: black;
  width: 100%;

}
.movie-poster {
  width: 300px;
  height: 450px; 
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.movie-poster:hover {
  transform: scale(.95);
}










/* movies list */
.movies-container {
  padding: 20px 20px; 
  background-color: black;
}
.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 350px;
  background: linear-gradient(to bottom right, #5d5a5a, #8a0808); 
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px #ecbdbd4d;
}
.movie-image {
  width: 100%;
  height: 75%; 
  object-fit: fill;
}
.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 12px;
  color: black;
}
.movie-title {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight:bold;
  color: black;
}
.movie-date {
  font-size: 10px;
  display: block;
  color: black;

}
.wishlist-icon {
  color: white;
  cursor: pointer;
  font-size: 20px;
}










/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}
.pagination-container button {
  background-color: #b30000; 
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px; 
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); 
}
.pagination-container button:hover {
  background-color: #8c0000; 
  transform: scale(1.1); 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.pagination-container button:disabled {
  background-color: #908f8f;
  cursor: not-allowed;
  box-shadow: none;
}
.pagination-container .btn-outline-danger {
  background-color: #ffffff;
  color: #b30000;
}
.pagination-container .btn-outline-danger:hover {
  background-color: #b30000;
  color: white;
}


